<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Om mig</h2>
                    <h3 class="section-subheading text-muted">En lille historie om hvad jeg har lavet de sidste år</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/imovie.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>omkring 2013</h4>
                                    <h4 class="subheading">Den Store Opdagelse af IMovie</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Det var en stor dag da jeg downloadede IMovie på IPadden derhjemme. Tendensen de følgende syv år var, at små projekter lykkedes og store projekter fejlede. Der ligger en mini dokumentar-serie "GRIB" og en kortfilm "FLUEKNEPPER" på mit fail-CV. Men jeg lærte meget af det.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hoejskole.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>efteråret 2021</h4>
                                    <h4 class="subheading">Den Høje Skole</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeg fulgte sabbatårs-opskriften og tog på højskole. Filmlinjen på Krogerup. Her var jeg med til at lave to film; en kort klima-aktivistisk video og en kunstnerisk kortfilm.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/skoleskibet.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>sommeren 2022</h4>
                                    <h4 class="subheading">Skoleskibet Danmark</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeg blev uddannet skibsassistent på Skoleskibet Danmark. Vi krydsede atlanten og var blandt andet på visit i New York, Baltimore, Azoerne og Bermuda.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/od.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>hele 2023</h4>
                                    <h4 class="subheading">Operation Dagsværk</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeg startede som frivillig i Operation Dagsværk, hvor jeg lavede kampgagne-materiale (videoer & SoMe) til årests projekt, som handlede om frivillige ambulance-reddere i Libanon. Bagefter fortsatte jeg i OD som fordragsholder på gymnasier og efterskoler landet over.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dgub.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>forår 2023</h4>
                                    <h4 class="subheading">Den Grønne Ungdomsbevægelse</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeg meldte mig ind i Den Grønne Ungdomsbevægelse, hvor jeg arbejde i en gruppe som beskæftigede sig med kampagne mod Greenwashing. Sammen med to andre, stod jeg for aktionerne der skulle sætte fokus på kampagnen, hvilket også indebar en masse SoMe-content.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/brsb.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>forår 2024</h4>
                                    <h4 class="subheading">Beredskabsstyrrelsen Bornholm</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lige pludselig synes jeg det var en god idé at blive uddannet brandmand. Det viste sig at jeg hellere ville noget andet, så jeg smied de sorte støvler og forlod kasernen efter fire måneder.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
