<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Om mig</h2>
                    <h3 class="section-subheading text-muted">En lille historie om hvad jeg har lavet de sidste år</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hoojskole.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021</h4>
                                    <h4 class="subheading">Den Høje Skole</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeg havde filmlinjen på Krogerup Højskole. Her var jeg med til at lave to film; en kort klima-aktivistisk video og en kunstnerisk kortfilm</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/skoleskibet.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022</h4>
                                    <h4 class="subheading">Skoleskibet Danmark</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeg blev uddannet skibsassistent på Skoleskibet Danmark. Vi krydsede atlanten og var blandt andet på visit i New York, Baltimore, Azoerne og Bermuda.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/od.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023</h4>
                                    <h4 class="subheading">Et År med Frivilligt Arbejde</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeg startede som frivillig i Operation Dagsværk, hvor jeg lavede kampgagne-materiale (videoer & SoMe) til årests projekt, som handlede om frivillige ambulance-reddere i Libanon. Jeg blev bidt af det frivillige arbejde, hvilket ledte til at jeg fortsatte i OD som fordragsholder der var på besøg på gymnasier og efterskoler landet over. Derudover var jeg om sommeren frivillig i DFUNK (Dansk Flygtningehjælp Ungdom), hvor jeg var med til at arrangere og fascilitere Sommercampen 2023.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dgub.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023</h4>
                                    <h4 class="subheading">Klima-aktivisme</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeg meldte mig ind i Den Grønne Ungdomsbevægelse, hvor jeg arbejde i en gruppe som beskæftigede sig med kampagne mod Greenwashing. Sammen med to andre, stod jeg for aktionerne der skulle sætte fokus på kampagnen. Vi lagde spotlightet på Arlas, hvis hovedkontor vi malede grønne med grøn glasur og producerede en hel masse tilhørende SoMe.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/skoleskibet.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022</h4>
                                    <h4 class="subheading">Skoleskibet Danmark</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeg blev uddannet skibsassistent på Skoleskibet Danmark. Vi krydsede atlanten og var blandt andet på visit i New York, Baltimore, Azoerne og Bermuda.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/skoleskibet.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022</h4>
                                    <h4 class="subheading">Skoleskibet Danmark</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeg blev uddannet skibsassistent på Skoleskibet Danmark. Vi krydsede atlanten og var blandt andet på visit i New York, Baltimore, Azoerne og Bermuda.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
