/*!
 * Trying to fix issues with videos
 */


.video-container {
    	max-width: 100%; /* Set a pixel value instead if no parent container*/
    	margin: 0 auto; /* Center the container */
	}
.video-container video {
    	width: 100%; /* Fill the available width */
    	height: auto; /* Adjust height automatically */
}
.container-fluid { /* Prøver at ændre på paddig i portfolio-grid - altså pladsen mellem thumbnails */
	padding-left: 15px;
	padding-right: 15px;
}

.row { /* Prøver at ændre på paddig i portfolio-grid - altså pladsen mellem thumbnails */
	--bs-gutter-x: 0; /* Removes horizontal spacing */
	--bs-gutter-y: 0; /* Removes vertical spacing */
}

.portfolio-item { /* Prøver at ændre på paddig i portfolio-grid - altså pladsen mellem thumbnails */
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
/*
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 0px;
    }
}

@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
    }
}
*/
